.App {
  text-align: center;
}

nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 1rem;
  box-sizing: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  gap: 1.25rem;
}

nav ul li {
  list-style-type: none;
}
